@model Tdtless10c.Models.TdtCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TdtLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TdtCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TdtCateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TdtCateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TdtStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TdtStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TdtID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
